# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Nagarian's blog
description: >- # this means to ignore newlines until "baseurl:"
  Bienvenue sur mon blog ! Ici vous y trouverez du contenu orienté développeur
  réalisé par un software craftmen.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://www.nagar-world.fr"
source: src

github_username:  nagarian
twitter_username: Nagarian33
permalink: /:year/:month/:day/:title/
show_excerpts: true
excerpt_separator: <!--more-->

############################
# Hydejack setting
lang: fr_FR
accent_image: /assets/images/home_background.jpg
paginate:              10
paginate_path:         /page/:num/
author:
  social:
    github: nagarian
    twitter: Nagarian33
    linkedin: benoitgarreau
    rss: /feed.xml
hydejack:
  no_break_layout: true
accent_color: '#4fb1ba'
############################
# SEO 
google_site_verification: Zjg438GK-N5Zk3c0QGigPCfJCoT6BajH-0jMri3vhzc
############################

# YAML Front Matter default settings value
defaults:
  -
    scope:
      path: "" # an empty string here means all files in the project
      type: "posts"
    values:
      layout: post
      author: Benoît Garreau
      published: true
      pagination: 
        enabled: true
  -
    scope:
      path: ""
      type: category
    values:
      layout: category

# Build settings
markdown: kramdown
theme: jekyll-theme-hydejack
plugins:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-relative-links
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-avatar
  # - jekyll-category-pages

sass:
  style: compact # possible values: nested expanded compact compressed

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
