// .content a:not(.btn).heading.flip-title {
//   // color: #00A99C;
//   color: #fdcc3a;
// }

.alignright {
  float: right;
  margin-left: 1.5em;
}

.alignleft {
  float: left;
  margin-right: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}